*{
    margin: 0px;
    padding: 0%;
    font-family: 'Dancing Script', cursive;
}




#noor {
font-style: italic;
color: rgb(112, 15, 8);
text-align: center;}

#me {
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    border-radius:80%;
    margin: 30px;
}

#di1 {
        
        color: darkred;
        padding:20px; 
    }
    ol li {
        padding:0px 30px;
        list-style:decimal;
    }
    ol {
        margin: 0px;
        padding: 0px;
        list-style-position: inside;
        list-style-type:decimal
    }


    #di2  {
       
    color: darkred;
    padding:20px; 
}

   

#sora {
    border-radius: 50% ;
    border:3px solid brown;
    padding:5px;
    width:160px ;

    
}
footer {
    padding: 40px;
    text-align: center;
}

.logo {
    border-radius: 20%;
    width: 60px;
    align-items: center;
}
#abc {
    size: 60px;
    box-sizing: initial;
    border-radius:60%;
    align-items: center;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#l1 {
    float: left;
    color: black;
}

li a {
    display: block;
    padding: 8px;
    background-color: rgb(172, 27, 148);
    color: azure;
}
ul li {
    list-style: none;
    color: rgb(116, 9, 75);
}
#name { 

text-align: center;
padding: 10px;
font-size: 20px;

}

#me {
    font-size: 20px;
    color: rgb(156, 48, 93);
    padding: 30px;
}
.bar a{
    float: left;
    color: coral;
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    padding: 20px 30px 
    ;


}
.bar a:hover{
    background-color: bisque;

}
.bar {
    display:inline-block;
    overflow: hidden;
    background-color: moccasin;
}

#Dishes {
    font-size: 20px;


}
li {
    font-family: cursive;
}
table ,th ,td {
    border: 2px solid ;
    text-align: center;
}
table {
    width:60% ;
    align-items: center;
    ;
}

#fot {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
th ,td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}